body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #be3144;
  position: fixed;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1rem 2rem;
}

a:hover {
  background-color: #45567d;
}

.about-section {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: linear-gradient(
    75deg,
    #3a3d40 0%, 
    #181719 100%
  );
}

.about-section p {
  color: #be3144;
  font-size: 2rem;
  font-style: italic;
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  padding: 0;
  margin: .5rem;
}

.portfolio-section {
  margin: 0;
  padding: 10rem 2rem;
  text-align: center;
  background-color: #45567d;
}

.portfolio-section h1 {
  font-size: 3.2rem;
  color: white;
}





